<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Omori</title>
    <link rel="stylesheet" href="/stylesheet/styles.css" />
</head>
<body>
    <!--<div class="container-fluid Border"> -->
        <div class="row Border3">
                <div class="row-vertical content">
                            <div>
                                <h1 class="text"> Basil's Photo Album </h1>
                            </div>
                            <div class="horizontal">
                                <div>
                                    <img src="/images/gallery1.png" class="icon-size2" />
                                </div>
                                <div>
                                    <img src="/images/gallery2.png" class="icon-size2" />
                                </div>
                                <div>
                                    <img src="/images/gallery3.png" class="icon-size2" />
                                </div>
                                <div>
                                    <img src="/images/gallery4.png"  class="icon-size2" />
                                </div>
                                </div>

                                <div>
                                    <img src="/images/Animation2.gif" class="animation-size" />
                                </div>
                                <div>
                                    <p class="text"> Memories
                                </div>
                            
                        <div class="horizontal">
                                <div>
                                    <img src="/images/icon1.png" class="icon-size" />
                                </div>
                                <div>
                                    <img src="/images/icon2.png" class="icon-size" />
                                </div>
                                <div>
                                    <img src="/images/icon3.png" class="icon-size"  />
                                </div>
                                <div>
                                    <img src="/images/icon4.png"  class="icon-size" />
                                </div>
                         </div>
                         <div class="horizontal">
                            <div>
                                <a href="/home">home</a>
                            </div>
                            <div>
                                <a href="/Works">Works</a>
                            </div>
                            <div>
                                <a href="/About">About</a>
                            </div>
                        </div>
        </div>
    </div>

</body>
</html>